
    <section>
        <h2>Описание</h2>
        <p>Текст,раскрывающий описание</p>
        <ul class="actions">
            <li><a href="~/html/generic.html" class="button">Узнать больше</a></li>
        </ul>
    </section>
    <section>
        <h2>Контактная информация</h2>
        <dl class="alt">
            <dt>Address</dt>
            <dd>Yaroslavl,Gagarina 11 &bull; Russsia</dd>
            <dt>Phone</dt>
            <dd>7-999-511-73-31</dd>
            <dt>Email</dt>
            <dd><a href="#">truenameisscael@gmail.com</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
        </ul>
    </section>
