<section id="intro" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Корреляционной-регрессионный анализ</h2>
            </header>
            <p>
                <h3>В корреляционно - регрессионный анализ входят:</h3>
                1)Линейный коэффициент корреляции;
                <br>
                2)Ранговая корреляция;
                <br>
                3)Уравнение регрессии;
                <br>
            </p>
            @*<ul class="actions">
                <li><a href="~/html/generic.html" class="button">Learn More</a></li>
            </ul>*@
        </div>
        <span class="image"><img src="~/images/logo.svg" alt="" /></span>
    </div>
</section>