<ul>
    <li><a href="#intro" class="active">Основная страница</a></li>
    <li><a href="#first">Первая секция</a></li>
    <li><a href="#second">Вторая секция</a></li>
    <li><a href="#cta">Начало работы</a></li>
</ul>